:root {
    --border: 1px solid black;
    --text-shadow: #FC0 1px 0 10px;
}

body, html {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

html {
    width: 100svw;
    height: 100svh;
}

body {
    background-image: url("assets/pexels-germannavyphotograph-13342949.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-rows: 70px 5fr;

    height: 100svh;

    position: relative;
}

.modal {
    width: max(100px, 70vw);
    height: min(800px, 80vh);
    padding: 0px 30px;    
    margin: auto;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(assets/hansjorg-keller-FyDwImn9yMw-unsplash.jpg);


    border-radius: 20px;
}

.modal button {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    min-width: 50px;
    min-height: 50px;
    padding: 0px;

    outline: none;
    border: none;
    background-color: transparent;
    transition: all 200ms linear;
}

.modal button:hover {
    width: 60px;
    height: 60px;
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;

    background-image: url(assets/icons8-close-64.png);
}

.modal .submit {
    background-image: url(assets/icons8-checkmark-64.png);
}

.modal > p {
    font-size: 64px;
    text-shadow: var(--text-shadow);
    min-width: min-content;

    margin: 0px;
}

.modal input {
    width: 0;
    font-size: 32px;
    flex: 5;
}

.modal span {
    height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;

}

header > * {
    flex: 1;
    height: 100%;
    margin: 0px 30px;
}

header > .name {
    display: flex;
    align-items: center;
    justify-content: start;

    text-shadow: var(--text-shadow);
    font-size: 36px;
}

header > .icons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

header > .icons > img {
    height: 50px;
    transition: all 200ms linear;
}

header > .icons > img:hover {
    height: 60px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 30px;
}

.gameboard {
    flex: 1;
    border: var(--border);
    height: 500px;


    min-width: 300px;
    max-width: 500px;
    

    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.square {
    border: var(--border);
    transition: all 100ms linear;
}

.square.ship {
    background-color: green;
}

.square:hover {
    transform: scale(1.30);
    border-width: 6px;
}
